.body {
    color: white;
    text-align: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-image: url(../../assets/avalie.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 65px;
    padding-block-start: 65px;
}

.title {
    color: lightseagreen;
}

.sec_carinhas {
    display: flex;
    justify-content: center;
}

.fig_carinha {
    padding-top: 15px;
    color: white;
    padding-left: 13px;
    text-align: center;
    font-size: 20px;
    transition: all 0.25s ease;
}

.fig_carinha svg {
    font-size: 50px;
    padding-bottom: 8px;
}

.fig_carinha:hover {
    cursor: pointer;
    color: lightseagreen;
}
