.cursos {
    color: white;
    padding-bottom: 65px;
    padding-block-start: 65px;
    width: 100%;
    height: auto;
    background-image: url("../../assets/cursos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
}

.title {
    color: lightseagreen;
}

.logo {
    font-size: 80px;
    color: lightseagreen;
    transition: filter 0.25s ease;
}

.logo:hover {
    cursor: pointer;
    filter: drop-shadow(lightseagreen 0 0 20px);
}
