.cursos {
    color: white;
    padding-bottom: 65px;
    padding-block-start: 65px;
    width: 100%;
    height: auto;
    background-image: url(https://cdn.discordapp.com/attachments/1196236630089023529/1236535430909001780/1714883391674.png?ex=66385cdc&is=66370b5c&hm=f036102707bcf91c298a81efe7003cfe4de0247ad73a2308bb7f5011663c66d4&);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
}

.title {
    color: lightseagreen;
}

.logo {
    font-size: 80px;
    color: lightseagreen;
}
