.profile {
    color: white;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 65px;
    padding-block-start: 65px;
    width: 100%;
    background-image: url("../../assets/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.img {
    opacity: 1;
    border-radius: 10px;
    border: solid lightseagreen 4px;
    box-shadow: lightseagreen 0 0 22px;
}

.name {
    color: lightseagreen;
    text-shadow: lightseagreen 0 0 12px;
}

@media (max-width: 769px) {
    .img {
        width: 70%;
    }
}
@media (min-width: 769px) {
    .img {
        width: 250px;
    }
}
