.profile {
    color: white;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 65px;
    padding-block-start: 65px;
    width: 100%;
    background-image: url("https://cdn.discordapp.com/attachments/1196236630089023529/1236479234411728996/1714848906803.png?ex=66382886&is=6636d706&hm=131cea34fbb683fedbd3d8e541b665b4ee250cc369d5f4dfd763a62b3d1fa02a&");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.img {
    opacity: 1;
    border-radius: 10px;
    border: solid lightseagreen 4px;
    box-shadow: lightseagreen 0 0 22px;
}

.name {
    color: lightseagreen;
    text-shadow: lightseagreen 0 0 12px;
}

@media (max-width: 769px) {
    .img {
        width: 70%;
    }
}
@media (min-width: 769px) {
    .img {
        width: 250px;
    }
}
