.profile {
    color: white;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 65px;
    padding-block-start: 65px;
    width: 100%;
    background-image: url("../../assets/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.img {
    width: 70%;
    max-width: 400px;
    opacity: 1;
    border-radius: 10px;
    border: solid gray 4px;
    box-shadow: gray 0 0 22px;
}

.name {
    color: gray;
    text-shadow: gray 0 0 12px;
}

@media (max-width: 769px) {
}
@media (min-width: 769px) {
}
