.body {
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 65px;
    padding-block-start: 65px;
    background-image: url("../../assets/projetos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: gray;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.projeto:hover {
    cursor: pointer;
    box-shadow: gray 0 0 20px;
}

.projeto {
    margin: 15px;
    padding: 15px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.25s ease;
}

.icone {
    font-size: 70px;
    color: gray;
}

.text {
    color: white;
}
