.body {
    text-align: center;
    display: flexbox;
    width: 100%;
    height: auto;
    padding-bottom: 65px;
    padding-block-start: 65px;
    background-image: url("../../assets/avalie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.title {
    color: lightseagreen;
}

.projetos {
    padding: -5px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.projeto {
    margin: auto;
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #222222;
    border-radius: 20px;
}

.icone {
    margin: auto auto;
    font-size: 70px;
    color: lightseagreen;
}

.text {
    margin: auto;
    color: white;
}
