.body {
    color: white;
    text-align: center;
    width: 100vw;
    height: auto;
    padding-bottom: 65px;
    padding-block-start: 65px;
    background-image: url("../../assets/contato.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 28px;
    color: gray;
}

.icone {
    font-size: 100px;
    color: gray;
    filter: drop-shadow(gray 0 0 15px);
}
